body {
    background: radial-gradient(ellipse at center, #7db9e8 0%, #19669c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#19669c', GradientType=1);
}

/*FORMS*/

.form-list {
    margin: 0 0 30px;
}

.form-list-item {
    margin: 0 0 10px;
}

.form-list-item:last-child {
    margin: 0;
}

.jagged-bg:after {
    content: '';
    display: block;
    height: 42px;
    width: 100%;
    background: url('../img/form-bg.png') repeat-x;
    margin-top: 25px;
}

.input-style {
    display: block;
    width: 100%;
    height: 32px;
    font: 14px Arial;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    padding: 0 15px;
}

.form-note {
    display: block;
    margin: 0 0 10px;
}

/*BUTTONS*/

.btn {
    display: inline-block;
    padding: 7px 15px;

    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;;
}

.btn-default {
    background: #fff;
    border: 1px solid #7c7b7b;
}

.btn-primary {
    background: #19669c;
    color: #fff;
}

.btn-facebook {
    background: #293990;
    color: #fff;
}

.btn-plain {
    background: #d1d2d4;
    color: #2a355a;
}

.btn-rounded {
    border-radius: 3px;
}

.btn-flex {
    display: block;
    width: 100%;
    text-align: center;
}

.btn-large.btn-rounded {
    font-size: 16px;
    line-height: 1.5;
    border-radius: 20px;
}

/*TYPOGRAPHY*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*LAYOUT*/

.flex {
    display: flex;
}

.flex-middle{
    align-items:center;
}

/*PAGE*/

.page {
    min-height: calc(100vh - 60px);
}

.page-default {
    background: #fff;
    color: #19669c;
}

.wrap {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.page-heading {
    font: 20px Arial;
    margin: 0 0 10px;
}

.page-heading + .sub-text {
    font-size: 16px;
    margin: 0 0 30px;
}
